.loginSignupBox {
    display: flex;
    height: auto;
    min-width: 800px;
    max-width: 1200px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.loginBox {
    padding: 5%;
    width: 50%;
}

.separateLine {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.signUpBox {
    padding: 5%;
    display: block;
    width: 50%;
}

button.loginMethod {
    width: 50%;
}

.loginInput {
    display: flex;
}